---
import type Props from "../icon/default.type";

/**
 * WebXR icon.
 */
const {
  id = "webxr_icon",
  size = 48,
  viewBox = "0 0 43.5 48",
  color = "currentColor",
  title = "WebXR",
  description = "WebXR",
  className = "",
}: Props = Astro.props;
---

<svg
  id={id}
  height={size}
  viewBox={viewBox}
  fill={color}
  aria-hidden="true"
  class={`webxr_icon ${className}`}
  role="img"
  aria-label={description}
>
  <title>{title}</title>
  <desc>{description}</desc>

  <path
    d="M 10.149947,45.272398 C 9.4063704,43.53863 0.80198597,23.312299 0.80198597,23.312299 c 0,0 -2.00881307,-4.666582 5.21092313,-7.982198 C 13.232645,12.014487 22.022264,7.839187 22.022264,7.839187 v 31.698145 c 0,0 -5.20301,5.045905 -7.26086,7.068633 -1.869856,1.838288 -3.86476,0.408494 -4.611337,-1.332487 z"
    fill="none"
    stroke-width="1"
    style={`stroke: ${color}`}></path>
  <path
    d="m 33.8953,45.272398 c 0.743566,-1.733768 9.347962,-21.960099 9.347962,-21.960099 0,0 2.008814,-4.666582 -5.210923,-7.982198 C 30.812603,12.014487 22.022985,7.839187 22.022985,7.839187 v 31.698145 c 0,0 5.20301,5.045905 7.260859,7.068633 1.869855,1.838288 3.864761,0.408494 4.611336,-1.332487 z M 22.022504,7.838227 7.1017802,0.75855517 c 0,0 -3.1788515,-1.3701668 -2.3822802,3.01165373 L 6.7581658,14.987021 Z"
  ></path>
  <path
    d="M 22.022264,7.838467 36.942988,0.75879517 c 0,0 3.178852,-1.3701668 2.382281,3.01165373 L 37.286603,14.98726 Z"
    fill="none"
    stroke-width="1"
    style={`stroke: ${color}`}></path>
</svg>
