---
import type Props from "../icon/default.type";

/**
 * GitHub icon.
 */
const {
  id = "github_icon",
  size = 48,
  viewBox = "0 0 48 48",
  color = "currentColor",
  title = "GitHub",
  description = "Visit my GitHub",
  className = "",
}: Props = Astro.props;
---

<svg
  id={id}
  height={size}
  viewBox={viewBox}
  fill={color}
  aria-hidden="true"
  class={`github_icon ${className}`}
  role="img"
  aria-label={description}
>
  <title>{title}</title>
  <desc>{description}</desc>

  <path
    d="M 24,0 C 10.74,0 0,11.011656 0,24.607052 c 0,10.888621 6.87,20.085507 16.41,23.345941 1.2,0.215312 1.65,-0.5229 1.65,-1.168835 0,-0.584417 -0.03,-2.522223 -0.03,-4.583063 C 12,43.339171 10.44,40.693913 9.96,39.309766 9.69,38.602313 8.52,36.418437 7.5,35.83402 6.66,35.372638 5.46,34.234561 7.47,34.203803 c 1.89,-0.03076 3.24,1.784011 3.69,2.522222 2.16,3.721817 5.61,2.676017 6.99,2.030082 0.21,-1.599458 0.84,-2.676017 1.53,-3.291193 C 14.34,34.849738 8.76,32.727379 8.76,23.315182 c 0,-2.676017 0.93,-4.890652 2.46,-6.613145 -0.24,-0.615177 -1.08,-3.137399 0.24,-6.520869 0,0 2.01,-0.6459353 6.6,2.522223 1.92,-0.553659 3.96,-0.830488 6,-0.830488 2.04,0 4.08,0.276829 6,0.830488 4.59,-3.1989171 6.6,-2.522223 6.6,-2.522223 1.32,3.38347 0.48,5.905692 0.24,6.520869 1.53,1.722493 2.46,3.906369 2.46,6.613145 0,9.442956 -5.61,11.534556 -10.95,12.149732 0.87,0.76897 1.62,2.245394 1.62,4.552305 0,3.291193 -0.03,5.936451 -0.03,6.766939 0,0.645935 0.45,1.414906 1.65,1.168835 A 24.036,24.643963 0 0 0 48,24.607052 C 48,11.011656 37.26,0 24,0 Z"
  >
  </path>
</svg>
