---
import type Props from "../icon/default.type";

/**
 * LinkedIn icon.
 */
const {
  id = "linkedin_icon",
  size = 48,
  viewBox = "0 0 48 48",
  color = "currentColor",
  title = "LinkedIn",
  description = "Communicate by LinkedIn",
  className = "",
}: Props = Astro.props;
---

<svg
  id={id}
  height={size}
  viewBox={viewBox}
  fill={color}
  aria-hidden="true"
  class={`linkedin_icon ${className}`}
  role="img"
  aria-label={description}
>
  <title>{title}</title>
  <desc>{description}</desc>

  <path
    d="M 0,3.438 C 0,1.539 1.578,0 3.525,0 h 40.95 C 46.422,0 48,1.539 48,3.438 V 44.562 C 48,46.461 46.422,48 44.475,48 H 3.525 C 1.578,48 0,46.461 0,44.562 Z M 14.829,40.182 V 18.507 H 7.626 v 21.675 z m -3.6,-24.636 c 2.511,0 4.074,-1.662 4.074,-3.744 -0.045,-2.127 -1.56,-3.744 -4.026,-3.744 -2.466,0 -4.077,1.62 -4.077,3.744 0,2.082 1.563,3.744 3.981,3.744 z M 25.953,40.182 V 28.077 c 0,-0.648 0.048,-1.296 0.24,-1.758 0.519,-1.293 1.704,-2.634 3.696,-2.634 2.607,0 3.648,1.986 3.648,4.902 V 40.182 H 40.74 V 27.75 c 0,-6.66 -3.552,-9.756 -8.292,-9.756 -3.822,0 -5.535,2.1 -6.495,3.579 v 0.075 h -0.048 a 16.62,16.62 0 0 1 0.048,-0.075 v -3.066 h -7.2 c 0.09,2.034 0,21.675 0,21.675 z"
  ></path>
</svg>
