---
import getYear from "../date/getYear";
import globals from "../../globals";
import Icons from "../icons/defaultLink.astro";
import type Props from "./default.type";

/**
 * Footer.
 */
const {
  name = globals.author?.name,
  text = "All rights reserved.",
  className = "",
  icons = [],
}: Props = Astro.props;
---

<style is:global>
  /* Footer at the bottom of the screen */
  main {
    min-height: calc(100vh - 1%);
  }
</style>

<footer
  class={`footer bg-primary-700 text-primary-50 text-center md:text-left sm:px-6 lg:px-8 pt-8 pb-10 ${className}`}
>
  <div class="mx-auto max-w-7xl md:flex md:justify-between font-medium">
    <span>{`© ${getYear()} ${name}. ${text}`}</span>
    <ul class="flex justify-center md:justify-end gap-4 mt-6 md:mt-0">
      <Icons icons={icons} className="hover:text-primary-200" />
    </ul>
  </div>
</footer>
