---
import type Props from "../icon/default.type";

/**
 * Blog icon.
 */
const {
  id = "blog_icon",
  size = 48,
  viewBox = "0 0 48 48",
  color = "currentColor",
  title = "Blog",
  description = "Blog",
  className = "",
}: Props = Astro.props;
---

<svg
  id={id}
  height={size}
  viewBox={viewBox}
  fill={color}
  aria-hidden="true"
  class={`blog_icon ${className}`}
  role="img"
  aria-label={description}
>
  <title>{title}</title>
  <desc>{description}</desc>

  <path
    d="m 40.32377,20.786263 c -0.05716,1.098652 -0.93638,2.455115 -2.353261,3.758797 v 17.179621 c -0.0016,0.442404 -0.185417,0.817403 -0.496027,1.11037 -0.312094,0.287156 -0.716946,0.45703 -1.192898,0.459936 H 6.7493743 C 6.276586,43.292081 5.8701522,43.122113 5.5580585,42.835051 5.2474482,42.542084 5.0651958,42.167085 5.0636135,41.724681 V 14.271038 c 0.00158,-0.440905 0.1838347,-0.817403 0.494445,-1.110371 0.3120937,-0.287155 0.7185275,-0.457029 1.1913158,-0.459935 H 22.434158 c 1.268548,-1.579119 2.747235,-3.1963004 4.422217,-4.6786696 0.0077,-0.00881 0.01394,-0.017625 0.02166,-0.026344 H 6.7491765 C 4.8950078,7.9942188 3.1907548,8.7017473 1.9777824,9.8326491 0.75867884,10.963551 -0.00157976,12.545576 2.4648655e-6,14.271132 V 41.724775 C -0.00157976,43.450331 0.75867884,45.035355 1.9777824,46.163257 3.1906559,47.293972 4.8950078,48 6.7491765,48 H 36.281386 c 1.857234,0 3.561586,-0.706028 4.77446,-1.83693 1.216038,-1.127902 1.97778,-2.712926 1.976197,-4.438483 V 19.075613 c 0,0 -0.01236,-0.01463 -0.03243,-0.02934 -0.767972,0.624092 -1.662621,1.218746 -2.676233,1.740275 z"
  ></path>
  <path
    d="m 47.937234,9.3749634e-5 c 0,0 -1.55137,2.197303950366 -11.684724,5.447697450366 C 25.920588,8.7627783 19.560048,22.247726 19.560048,22.247726 c -1.531198,2.762708 -7.5836,14.241507 -7.5836,14.241507 -1.667169,2.964833 1.387512,4.716825 3.179875,1.655244 3.43481,-5.876977 5.652099,-11.247145 10.874823,-11.399019 7.6191,-0.222655 12.828869,-6.530224 11.190279,-6.237257 -2.157066,0.890622 -6.912934,0.06741 -4.111607,-0.342749 6.724452,-0.511216 10.86889,-5.30276 9.518066,-5.627884 -2.384115,0.870091 -4.607634,0.04397 -5.043339,-0.205124 C 49.453202,12.964262 47.937234,0 47.937234,0 Z"
  ></path></svg
>
